@import url('reset.css');
@import url('theme.css');


/* 尊重用户减少动画偏好：让动画瞬间完成，当前版本先不做 */
/* @media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
} */

:root { 
    --dot-label-distance:-2.5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}